"github.com/devopsfaith/krakend-jose/validator": {
    "propagate-claims": [
        ["sub", "x-user"],
        ["email", "x-email"]
    ],
    "alg": "HS256",
    "jwk-url": "https://api.jsonbin.io/b/60a31610bb9f5505c7e142b7",
    "cache": true,
    "disable_jwk_security": true,
    "cookie_key": "session"
}